@(loginForm: play.api.data.Form[(String, String)], errorMsg: Option[String] = None)(implicit request: play.api.mvc.RequestHeader)

@import helper._
@import securesocial.core.Registry
@import securesocial.core.AuthenticationMethod._
@import securesocial.core.providers.UsernamePasswordProvider.UsernamePassword

@Secure.main(Messages("securesocial.login.title")) {
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4">
                <div class="single-window panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">@Messages("securesocial.login.title")</div>
                    </div>

                    @errorMsg.map { msg =>
                        <div class="alert alert-danger alert-xs sharp">
                            @Messages(msg)
                        </div>
                    }

                    @request.flash.get("success").map { msg =>
                        <div class="alert alert-info alert-xs sharp">
                            @msg
                        </div>
                    }

                    @request.flash.get("error").map { msg =>
                        <div class="alert alert-warning alert-xs sharp">
                            @msg
                        </div>
                    }


                    @defining(Registry.providers.all.values.filter(_.id != UsernamePassword)) { externalProviders =>

                        @Registry.providers.get(UsernamePassword).map { up =>
                            <div class="panel-body">
                                @Secure.provider("userpass", Some(loginForm))(request)
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}