<p>A sunburst plot showing the the clonality of sample.</p>
<p>Inner level shows the read frequency of <b>singletons</b> (clonotypes occurred once), <b>doubletons</b>
    (clonotypes occurred twice)  and <b>high-order</b> clonotypes.</p>
<p><b>Singletons</b> and <b>doubletons</b>
    are the basis for estimating the number of unseen species (clonotypes) for the sample.</p>
<p>The second level shows that <b>high order</b> clonotypes are divided into 5 quantiles based on their clonotype rank.</p>
<p><b>Click</b> on the <b>high-order</b> sector will show it in more details, while <b>click</b>
    on the center of graph will hide them.</p>