<p>A sunburst plot visualization of the clonality of sample.</p>
<p>Inner level corresponds to basic size scales: <b>singletons</b> (clonotypes met once), <b>doubletons</b>
    (clonotypes met twice) and <b>high-order</b> (met three or more times) clonotypes. Note that the number of <b>singletons</b> and <b>doubletons</b>
    are the basis for estimating the number of unseen species (clonotypes) for the sample.</p>
<p>The second level shows 5 quantiles for <b>high order</b>: top 20% by rank, ...</p>
<p>Top 10 clonotypes are shown explicitly in the last level.</p>
<p><b>Click</b> on the sector will expand it and show. <b>Click</b> on the center of plot will collapse it to initial layout.</p>