.person-place {
    height: 300px;
    width: 100%;
    position: relative;
}

.person-place .person-img {
    left: 2%;
    top: 2%;
    height: 96%;
    width: 23%;
    background-color: #DCDCDC;
    position: absolute;
}

.person-place .person-name {
    left: 27%;
    width: 71%;
    top: 2%;
    height: 4%;
    position: absolute;
}

.person-place .delimiter {
    left: 27%;
    width: 71%;
    top: 6%;
    position: absolute;
}

.person-place .person-description {
    left: 27%;
    width: 71%;
    top: 20%;
    height: 78%;
    position: absolute;
}