html, body {
    min-width: 1200px;
    width: auto !important;
    padding-top: 0;
}

#clonotypes_table_wrapper {
    position: relative;
    padding-top: 20px;
}

#clonotypes_table_wrapper > .clonotypes_table_background {
    position: absolute;
    background-color: black;
    opacity: 0.1;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    z-index: 25;
    border-radius: 3px;
}

#clonotypes_table_wrapper > .clonotypes_table_proccessing {
    position: absolute;
    background-color: #ffffff;
    border-radius: 3px;
    top: 45%;
    left: 40%;
    height: 15%;
    width: 20%;
    text-align: center;
    z-index: 26;
}

.sidebar_file {
    cursor: pointer;
    transition: border-bottom 0.2s;
}

.sidebar_file .sidebar_file_trash_i {
    visibility: hidden;
}

.sidebar_file:hover .sidebar_file_trash_i {
    visibility: visible;
}

.clonotypes_table_proccessing > .h3 {
    vertical-align: middle;
}

#clonotypes_table_scroll {
    max-height: 500px;
    overflow-y: auto;
    margin-top: 20px;
}

#notifications_wrapper {
    z-index: 50;
    left: 85%;
    top: 2%;
    width: 14%;
    height: 100%;
    position: fixed;
}

.notification.ng-enter,
.notification.ng-leave,
.notification.ng-move, {
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.notification.ng-enter {
    opacity: 0;
}
.notification.ng-enter.ng-enter-active {
    opacity: 1;
}
.notification.ng-leave {
    opacity: 1;
}
.notification.ng-leave.ng-leave-active {
    opacity: 0;
}

.notification.error {
    background-color: #e74c3c;
}

.notification.info {
    background-color: #4292c6;
}

.notification.success {
    background-color: #1abc9c;
}

.notification {
    position: relative;
    margin: 5px;
    height: 75px;
    opacity: 0.8;
    border-radius: 5px;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.notification > .close_notification {
    position: absolute;
    top: 2%;
    left: 92%;
    width: 2%;
    margin-right: 10px;
    color: #ffffff;
    cursor: pointer;
}

.notification > .notification_header {
    z-index: 51;
    font-weight: 500;
    font-size: larger;
    left: 0;
    top: 0;
    margin-left: 10px;
    margin-right: 20px;
    width: 100%;
    height: 25px;
    color: #ffffff;
}

.notification > .notification_body {
    z-index: 51;
    left: 0;
    top: 24px;
    margin-left: 10px;
    margin-right: 20px;
    width: 100%;
    height: 50px;
    color: #ffffff;
}

.no_text_decoration {
    text-decoration: none;
}

.index_image_block {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.index_image_block > img {
    width: 100%;
}

#common_page_wrapper {
    position: absolute;
    top: 100px;
    width: 100%;
}

#index_page_wrapper {
    position: absolute;
    top: 525px;
    width: 100%;
}

#footer_page_wrapper {
    position: fixed;
    left: 2%;
    width: 96%;
    bottom: 0;
}

#slider_page_wrapper {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
}

.index_navbar_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 20000;
    background-color: #ffffff;
    border-bottom: 2px solid #1abc9c;
}

.index_navbar {
    position: fixed;
    top: 15px;
    left: 15%;
    width: 70%;
    height: 35px;
    z-index: 20000;
    color: #1abc9c;
}

.index_navbar > .navbar_cell {
    float: left;
    width: 100px;
    height: 100%;
    cursor: pointer;
    margin: auto;
    text-align: center;
    transition: border-bottom 0.2s;
}


img.blur {
    -webkit-filter: url(#blur);
    filter: url(#blur);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
    -webkit-transition: 1s -webkit-filter linear;
}

.navbar_cell:hover {
    border-bottom: 4px solid #1abc9c;
}

.brand_cell {
    position: fixed;
    left: 100px;
    top: 0px;
    font-size: xx-large;
    width: 150px !important;
}

.cell_right {
    float: right !important;
}

.cell_wide {
    width: 350px !important;
}

.index_navbar > .navbar_cell > a {
    text-decoration: none;
    color: #1abc9c;
}

.index_wrapper {
    position: absolute;
    top: 650px;
    width: 100%;
}

.about_description > p {
    white-space: pre-wrap;
}

.about_note {
    margin-left: 30px;
}

#add-new-file {
    visibility: hidden;
}

.block-page {
    width: 100%;
    height: 100%;
    visibility: visible;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
}

.block-page .info {
    top: 20%;
    left: 30%;
    width: 40%;
    height: 40%;
    position: absolute;
}

.block-page .info .text-info {
    position: absolute;
    top: 100px;
    color: #000000;
    width: 100%;
    text-align: center;
    font: 15px sans-serif;
}

.block-page .background {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 0.6;
    position: absolute;
}

.feature-img {
    max-height: 500px;
    max-width: 500px;
    width: 100%;
}

.sunbirst path {
    stroke: #fff;
    fill-rule: evenodd;
}

.sunbirst text {
    font: 11px sans-serif;
}

.vjusage text {
    font: 11px sans-serif;
}

.nav-sidebar > li {
    cursor: pointer;
}

.invalid-name-input {
    border-color: red;
}

.main-content {
    min-height: 1000px;
}

.main-tbody-files .name-td {
    width: 15%;
}

.main-tbody-files .select-td  {
    width: 15%;
}

.main-tbody-files .progress-td {
    width: 50%;
}

.main-tbody-files .button-td {
    width: 20%;
}

.rarefaction-visualisation-tab {
    min-height: 500px;
}

.summary-visualisation-tab {
    min-height: 500px;
}

.add-new-compare-button {
    visibility: hidden;
}

.show-compare-button {
    visibility: visible;
}

.comparing-tab-header {
    height: 200px;
    margin: 20px;
    z-index: 10;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.li_pointer {
    cursor: pointer;
}

.sidebar_block_blue {
    border-left: 5px solid #4292c6 !important;
}

.sidebar_block_red {
    border-left: 5px solid #e74c3c !important;
}

.sidebar_block_green {
    border-left: 5px solid #1abc9c !important;
}

#account_wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid #e7e7e7;
}

.visualisation-results {
    min-height: 600px;
    overflow: visible;
}

.comparing-tab {
    min-height: 500px;
}

.nav-visualisation > li {
    width: 19%;
    text-align: center;
    cursor: pointer;
}

.nav-comparing > li {
    cursor: pointer;
    width: 24%;
}

.container-width-fixed {
    min-width:1000px;
}

.modal .modal-body {
    max-height: 700px;
    overflow-y: auto;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.upload-files-footer {
    margin: 10px;
    width: 98%;
    text-align: right;
}

.comparing-table-footer {
    margin: 10px;
    width: 98%;
    text-align: right;
}

.comparing-table-body {
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    border-right: 0;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
    cursor: pointer;
}

.drag-and-drop-icon {
    margin-top: 40px;
}

.footer-close-button {
    margin-right: 0;
}

#new-files-dropzone {
    text-align: center;
    height: 100%;
    min-height: 300px;
}

#new-files-dropzone.hover {
    background: #d3d3d3;
}

#new-files-dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

.loading {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top:200px;
    width: 90px;
    height:90px;
}

.loading .wBall {
    position: absolute;
    width: 86px;
    height: 86px;
    opacity: 0;
    -moz-transform: rotate(225deg);
    -moz-animation: orbit 5.5s infinite;
    -webkit-transform: rotate(225deg);
    -webkit-animation: orbit 5.5s infinite;
    -ms-transform: rotate(225deg);
    -ms-animation: orbit 5.5s infinite;
    -o-transform: rotate(225deg);
    -o-animation: orbit 5.5s infinite;
    transform: rotate(225deg);
    animation: orbit 5.5s infinite;
}

.loading .wBall .wInnerBall{
    position: absolute;
    width: 11px;
    height: 11px;
    background: #1abc9c;
    left:0px;
    top:0px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    border-radius: 11px;
}

.loading #wBall_1 {
    -moz-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.loading #wBall_2 {
    -moz-animation-delay: 0.24s;
    -webkit-animation-delay: 0.24s;
    -ms-animation-delay: 0.24s;
    -o-animation-delay: 0.24s;
    animation-delay: 0.24s;
}

.loading #wBall_3 {
    -moz-animation-delay: 0.48s;
    -webkit-animation-delay: 0.48s;
    -ms-animation-delay: 0.48s;
    -o-animation-delay: 0.48s;
    animation-delay: 0.48s;
}

.loading #wBall_4 {
    -moz-animation-delay: 0.72s;
    -webkit-animation-delay: 0.72s;
    -ms-animation-delay: 0.72s;
    -o-animation-delay: 0.72s;
    animation-delay: 0.72s;
}

.loading #wBall_5 {
    -moz-animation-delay: 0.96s;
    -webkit-animation-delay: 0.96s;
    -ms-animation-delay: 0.96s;
    -o-animation-delay: 0.96s;
    animation-delay: 0.96s;
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin:0%;
    }

    30% {
        opacity: 1;
        -moz-transform:rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin:7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin:30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:70%;
    }

    76% {
        opacity: 0;
        -moz-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }

}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:0%;
    }

    30% {
        opacity: 1;
        -webkit-transform:rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin:7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:70%;
    }

    76% {
        opacity: 0;
        -webkit-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }

}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin:0%;
    }

    30% {
        opacity: 1;
        -ms-transform:rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin:7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin:30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:70%;
    }

    76% {
        opacity: 0;
        -ms-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }

}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin:0%;
    }

    30% {
        opacity: 1;
        -o-transform:rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin:7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin:30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin:39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin:70%;
    }

    76% {
        opacity: 0;
        -o-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }

}

@keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin:0%;
    }

    30% {
        opacity: 1;
        transform:rotate(410deg);
        animation-timing-function: ease-in-out;
        origin:7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin:30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin:39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin:70%;
    }

    76% {
        opacity: 0;
        transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }

}

.spinner {
    margin: 100px auto;
    width: 32px;
    height: 32px;
    position: relative;
}

.cube1, .cube2 {
    background-color: #1abc9c;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: cubemove 1.8s infinite ease-in-out;
    animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% {
          transform: translateX(42px) translateY(42px) rotate(-179deg);
          -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
      } 50.1% {
            transform: translateX(42px) translateY(42px) rotate(-180deg);
            -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
        } 75% {
              transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
              -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
          } 100% {
                transform: rotate(-360deg);
                -webkit-transform: rotate(-360deg);
            }
}


#rarefaction-png-export {
    overflow: visible;
}

rect.selection {
    stroke          : #333;
    stroke-dasharray: 4px;
    stroke-opacity  : 0.5;
    fill            : transparent;
}

rect.cell-border {
    stroke: #eee;
    stroke-width:0.3px;
}

rect.cell-selected {
    stroke: rgb(51,102,153);
    stroke-width:0.5px;
}

rect.cell-hover {
    stroke: #F00;
    stroke-width:0.3px;
}

text.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #aaa;
}

text.text-selected {
    fill: #000;
}

text.text-highlight {
    fill: #c00;
    text-decoration: underline;
}
text.text-hover {
    fill: #00C;
}
#heatmap_tooltip {
    position: absolute;
    width: 400px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#heatmap_tooltip.hidden {
    display: none;
}

#heatmap_tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px;
}

.select2 > .select2-choice.ui-select-match {
    /* Because of the inclusion of Bootstrap */
    height: 29px;
}
