<rarefaction-content>
    <div class="row rarefaction-tab" ng-show="isRarefactionInformation()">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="well sharp">
                @views.html.account.descriptions.rarefactionDescription()
                <hr>
                <button ng-repeat="type in ::rarefactionExportTypes" class="btn btn-default sharp pull-right" ng-click="exportRarefaction(type)">Export to {{ ::type }}</button>
                <div class="rarefaction-visualisation-tab"></div>
            </div>
        </div>
    </div>
</rarefaction-content>