<sample-collection>
<div class="row" ng-show="isSampleCollection()">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-3 col-sm-offset-3" ng-show="!isInitialized() && !isConnectionError()">
        <div class="jumbotron single-window text-center sharp">
            <h2>Connecting..</h2>
        </div>
    </div>
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-3 col-sm-offset-3" ng-show="isConnectionError()">
        <div class="jumbotron single-window text-center sharp">
            <h2>Connection error</h2>
            <h3>Please refresh the page to reconnect</h3>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12" ng-show="isInitialized() && !isConnectionError()">
        <div ng-show="isJoinInformationStep()">
            <div class="panel panel-info separated">
                <div class="panel-body">
                    <button class="btn btn-default sharp" ng-click="$event.stopPropagation(); openAnotherFiles()">Open other files</button>
                    <button class="btn btn-default sharp" ng-click="$event.stopPropagation(); changeJoinParameters()">Change parameters</button>
                </div>
            </div>
        </div>
        <div ng-show="isFilesSelectStep()">
            <div class="panel panel-info separated">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            Select samples to be joined
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div ng-repeat="file in files" style="float : left ; margin : 5px">
                                <button class="btn btn-default sharp" ng-class="{'btn-info':isFileSelected(file)}" ng-click="selectFile(file)">{{ ::file.fileName }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-info sharp" ng-click="selectAll()">Select all</button>
            <button class="btn btn-info sharp" ng-click="openGroup()">Join samples</button>
        </div>
        <div ng-show="isFilesOpeningStep()">
            <div class="panel panel-info separated">
                <div class="panel-heading">
                    Opening.. {{ getOpeningFile() }}
                </div>
                <div class="panel-body">
                    <div class="progress progress-sm">
                        <div class="progress-bar progress-bar-success" style="width: {{ getOpenProgress() }}%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="isJoinRenderingStep()">
            <div class="panel panel-info separated">
                <div class="panel-body">
                    <div class="spinner" ng-show="isJointRendering()">
                        <div class="cube1"></div>
                        <div class="cube2"></div>
                    </div>
                    <div ng-hide="isJointRendering()" class="col-lg-10" id="joinParameters">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                Specify sample joining parameters
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Occurence Treshhold</label>
                                    <input type="number" class="form-control data_popover" ng-model="occurenceTreshold" max="{{ selectedFiles.length }}" min="2"
                                    data-toggle="popover"
                                    data-html="true"
                                    data-placement="top"
                                    data-container="body"
                                    data-content="@views.html.account.tooltips.occurenceTreshholdTooltip()">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Overlap type</label>
                                    <select class="form-control data_popover" ng-model="overlapType" ng-hide="isJointRendering()"
                                    data-toggle="popover"
                                    data-html="true"
                                    data-placement="top"
                                    data-container="body"
                                    data-content="@views.html.account.tooltips.overlapTypeTooltip()">
                                        <option value="Nucleotide">Nucleotide</option>
                                        <option value="NucleotideV" >NucleotideV</option>
                                        <option value="NucleotideVJ" >NucleotideVJ</option>
                                        <option value="AminoAcid" >AminoAcid</option>
                                        <option value="AminoAcidV" >AminoAcidV</option>
                                        <option value="AminoAcidVJ" >AminoAcidVJ</option>
                                        <option value="AminoAcidNonNucleotide" >AminoAcidNonNucleotide</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">VFilter</label>
                                    <input type="text" class="form-control sharp filterPopover" ng-model="filters.vFilter"
                                    data-toggle="popover"
                                    data-html="true"
                                    data-placement="top"
                                    data-container="body"
                                    data-content="@views.html.account.tooltips.vFilterTooltip()"
                                    />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">JFilter</label>
                                    <input type="text" class="form-control sharp filterPopover" ng-model="filters.jFilter"
                                    data-toggle="popover"
                                    data-html="true"
                                    data-placement="top"
                                    data-container="body"
                                    data-content="@views.html.account.tooltips.jFilterTooltip()"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <button class="btn btn-info sharp" ng-click="joinSamples()">Join</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="isJoinInformationStep()">
            <div class="panel panel-info separated">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="joinHeapMapParameters">
                                <p>Heatmap of shared clonotypes. Top 1000 clonotypes by geometric mean frequency are shown.</p>
                                <hr>
                                <p><b>Join parameters used</b></p>
                                <p><b>Overlap Type:</b> {{ overlapType }}</p>
                                <p><b>Occurence treshold:</b> {{ occurenceTreshold }}</p>
                                <p ng-show="selectedVGenes.length"><b>VFilter:</b> {{ selectedVGenes.join() }}</p>
                                <p ng-show="selectedJGenes.length"><b>JFilter:</b> {{ selectedJGenes.join() }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="joinHeapMap"></div>
                            <div id="heatmap_tooltip" class="hidden">
                                <p><span id="heatmap_tooltip_value"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</sample-collection>