<search-clonotypes-table ng-show="showSearchClonotypesTable()">
    <div class="row search-clonotypes-tab">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="well sharp">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label">CDR3 Pattern</label>
                        <input type="text" class="form-control sharp" ng-model="sequenceString" placeholder="Enter CDR3 pattern here..">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label">VFilter</label>
                        <input type="text" class="form-control sharp filterPopover" ng-model="filters.vFilter"
                        data-toggle="popover"
                        data-html="true"
                        data-placement="top"
                        data-container="body"
                        data-content="@views.html.account.tooltips.vFilterTooltip()"
                        />
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label">JFilter</label>
                        <input type="text" class="form-control sharp filterPopover" ng-model="filters.jFilter"
                        data-toggle="popover"
                        data-html="true"
                        data-placement="top"
                        data-container="body"
                        data-content="@views.html.account.tooltips.jFilterTooltip()"
                        />
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label">Sequence type</label>
                        <select class="form-control" ng-model="aminoAcid">
                            <option value="true">AminoAcid</option>
                            <option value="false" >Nucleotide</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <button class="btn btn-default sharp" ng-click="searchSequence()">Search</button>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12" id="clonotypes_table_wrapper" ng-show="isClonotypesSearchInit()">
            <div class="well sharp" ng-show="isLoading()">
                <div class="spinner">
                    <div class="cube1"></div>
                    <div class="cube2"></div>
                </div>
            </div>
            <div class="well sharp text-center" ng-show="isNoMatchesFound()">
                <b>No matches found</b>
            </div>
            <div class="well sharp" ng-show="!isNoMatchesFound() && !isLoading()" id="clonotypes_table_scroll">
                <p>The table below is limited to top 100 hits </p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Index</th>
                            <th>Frequency</th>
                            <th>Count</th>
                            <th>CDR3AA</th>
                            <th>V</th>
                            <th>D</th>
                            <th>J</th>
                            <th>CDR3NT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in searchResults.rows">
                            <td>{{ ::row.index }}</td>
                            <td>{{ ::row.freq }}</td>
                            <td>{{ ::row.count }}</td>
                            <td ng-bind-html="::row.cdr.cdr3aa"></td>
                            <td>{{ ::row.v }}</td>
                            <td>{{ ::row.d }}</td>
                            <td>{{ ::row.j }}</td>
                            <td ng-bind-html="::row.cdr.cdr3nt"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</search-clonotypes-table>