<summary-content>
    <div class="row summary-tab" ng-show="isSummaryInformation()">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="well sharp">
                @views.html.account.descriptions.summaryDescription()
                <hr>
                <summary-stats>
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Sample</th>
                                <th>Reads</th>
                                <th>Diversity</th>
                                <th>Mean clonotype frequency</th>
                                <th>Geo.mean clonotype frequency</th>
                                <th>Non-coding clonotypes</th>
                                <th>NC clonotypes frequency</th>
                                <th>Mean insert size</th>
                                <th>Mean N(D)N size</th>
                                <th>Mean CDR3 length</th>
                                <th>Convergence</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in data">
                                <td>{{ ::row.Name }}
                                    <span ng-repeat="tag in getFileByName(row.Name).tags" class="label pull-right" style="background-color: {{ ::tag.color }}!important;">{{ ::tag.tagName }}</span>
                                </td>
                                <td>{{ ::row.count }}</td>
                                <td>{{ ::row.diversity }}</td>
                                <td>{{ ::row.mean_frequency }}</td>
                                <td>{{ ::row.geomean_frequency }}</td>
                                <td>{{ ::row.nc_diversity }}</td>
                                <td>{{ ::row.nc_frequency }}</td>
                                <td>{{ ::row.mean_insert_size }}</td>
                                <td>{{ ::row.mean_ndn_size }}</td>
                                <td>{{ ::row.mean_cdr3nt_length }}</td>
                                <td>{{ ::row.convergence }}</td>
                            </tr>
                        </tbody>
                    </table>
                </summary-stats>
            </div>
        </div>
    </div>
</summary-content>