@(startForm: play.api.data.Form[String])(implicit request: play.api.mvc.RequestHeader)
@import helper._
@import securesocial.core.IdentityProvider
@implicitFieldConstructor = @{
    FieldConstructor(securesocial.views.html.inputFieldConstructor.f)
}

@Secure.main(Messages("securesocial.password.title")) {
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <div class="single-window panel panel-default">
                    <div class="panel-heading">
                        Password reset
                    </div>

                    @request.flash.get("error").map { msg =>
                        <div class="alert alert-danger alert-xs sharp">
                            @Messages(msg)
                        </div>
                    }
                    <div class="panel-body">
                        <form action="@securesocial.core.providers.utils.RoutesHelper.handleStartResetPassword().absoluteURL(IdentityProvider.sslEnabled)(request)"
                        method="POST"
                        role="form"
                        >
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="email" autofocus="" placeholder="Your E-mail">
                                </div>
                                <button type="submit" class="btn btn-info btn-lg btn-block">Reset</button>
                            </fieldset>
                        </form>
                        <hr class="wide">
                        <a href="@routes.Application.index()">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}