@(username: String)
@main("About") {
    @navbar(username)
    <div id="common_page_wrapper">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
                <div class="panel panel-info separated">
                    <div class="panel-heading">
                        About
                    </div>
                    <div class="panel-body">
                        <div class="about_description">
                            <p>VDJviz is a lightweight immune repertoire browser. After registering and signing in, users can upload clonotype tables that were produced using <a href="http://mitcr.milaboratory.com/">MiTCR</a>, <a href="https://github.com/mikessh/migec">MiGEC</a>, <a href="https://github.com/mikessh/igblastwrp">IgBlast</a>, <a href="http://www.imgt.org/IMGTindex/IMGTHighV-QUEST.html">IMGT</a> and <a href="http://marketing.adaptivebiotech.com/content/immunoseq-0">ImmunoSEQ</a> Rep-Seq processing software. VDJviz server will compute a set of key repertoire statistics and display them as interactive graphics.</p>
                            <p>This is a Play Framework application that uses VDJtools API as a back-end. VDJviz can also be run as a local server, check out the link to source code below.</p>
                            <div class="about_links">
                                <h3>Some useful links:</h3>
                                <hr class="wide">
                                <p><a href="https://github.com/mikessh/vdjviz">https://github.com/mikessh/vdjviz</a> - VDJviz source code</p>
                                <p><a href="https://github.com/mikessh/vdjtools">https://github.com/mikessh/vdjtools</a> - VDJtools source code</p>
                                <p><a href="http://vdjtools-doc.readthedocs.org/en/latest/input.html">http://vdjtools-doc.readthedocs.org/en/latest/input.html</a> - detailed description of input formats</p>
                                <p><a href="https://github.com/mikessh/vdjtools-examples/releases/tag/1.0">https://github.com/mikessh/vdjtools-examples/releases/tag/1.0</a> - some sample datasets to play with</p>
                                <p><a href="http://vdjtools-doc.readthedocs.org/en/latest/modules.html">http://vdjtools-doc.readthedocs.org/en/latest/modules.html</a> - detailed description of post-analysis</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer_page_wrapper">
        <footer>
            <p>&copy; 2014-2015 <a href="http://milaboratory.com/">MiLaboratory.com</a></p>
        </footer>
    </div>
}