
<!DOCTYPE html>

<html>
    <head>
        <title>Error</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")">
        <script>window.location.replace("/")</script>
        <style>
            .logo_img {
                width: 100%;
            }

            .logo_link {
                cursor: pointer;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h2>Ooops :(</h2>
                <hr>
                <h1>Sorry, but your browser is not supported yet</h1>
                <h3>We recommend using the following browsers, also check that you have JavaScript enabled</h3>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <img src="@routes.Assets.at("images/chrome.png")" class="logo_img">
                    <h3 class="text-center"><a class="logo_link" href="https://www.google.ru/chrome/browser/">Chrome</a></h3>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <img src="@routes.Assets.at("images/firefox.png")" class="logo_img">
                    <h3 class="text-center"><a class="logo_link" href="https://www.mozilla.org/ru/firefox/new/">Firefox</a></h3>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <img src="@routes.Assets.at("images/opera.png")" class="logo_img">
                    <h3 class="text-center"><a class="logo_link" href="http://www.opera.com/ru">Opera</a></h3>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                <hr>
                </div>
            </div>
        </div>

    </body>
</html>
