@(username: String)
@main("Contacts") {
    <link href="@routes.Assets.at("stylesheets/contacts.css")" rel="stylesheet">
    @navbar(username)
    <div class="container">
        <div class="row">
            <h2>Contacts</h2>
            <hr>
            <div class="person-place">
                <div class="person-img"><img src="@routes.Assets.at("images/mitya.jpg")" /></div>
                <div class="person-name">Dmitry Chudakov, PhD</div>
                <hr class="delimiter">
                <div class="person-description">
                Head of Genomics of Adaptive Immunity LAB, IBCh RAS.
                For research or commercial projects on TCR/antibody profiling please set your mails to chudakovdm (at) маil.гu
                </div>
            </div>
            <hr>
            <div class="person-place">
                <div class="person-img"><img src="@routes.Assets.at("images/mike.png")" /></div>
                <div class="person-name">Mikhail Shugay, PhD</div>
                <hr class="delimiter">
                <div class="person-description">
                Postdoc at Genomics of Adaptive Immunity LAB, IBCh RAS.
                Please contact regarding any issues with post-analysis of RepSeq data using VDJtools/VDJviz. Mailto: mikhail.shugay (at) gмаil.сом
                </div>
            </div>
            <div class="person-place">
                <div class="person-img"><img src="@routes.Assets.at("images/dima.jpg")" /></div>
                <div class="person-name">Bagaev Dmitry</div>
                <hr class="delimiter">
                <div class="person-description">
                VDJviz web design and implementation.
                </div>
            </div>
            <div class="person-place">
                <div class="person-img"><img src="@routes.Assets.at("images/milib.png")" /></div>
                <div class="person-name">MiLaboratory team</div>
                <hr class="delimiter">
                <div class="person-description">
                Developing state-of-art solutions for immune repertoire sequencing and analysis.
                </div>
            </div>
        </div>
    </div>
}