@(username: String)
@main("Contacts") {
    <link href="@routes.Assets.at("stylesheets/contacts.css")" rel="stylesheet">
    @navbar(username)
    <div class="container">
        <div class="row">
            <h2>Contacts</h2>
            <hr>
            <div class="person-place">
                <div class="person-img"><img src="@routes.Assets.at("images/DmitryChudakov.jpg")" /></div>
                <div class="person-name">Dmitry Chudakov, PhD</div>
                <hr class="delimiter">
                <div class="person-description">
                Head of Genomics of Adaptive Immunity LAB, IBCh RAS.
                For research or commercial projects on TCR/antibody profiling please send your mails to <a href="mailto:chudakovdm@@маil.гu">chudakovdm@@маil.гu</a>
                </div>
            </div>
            <hr>
            <div class="person-place">
                <div class="person-img"><img src="@routes.Assets.at("images/MikhailShugay.png")" /></div>
                <div class="person-name">Mikhail Shugay, PhD</div>
                <hr class="delimiter">
                <div class="person-description">
                Postdoc at Genomics of Adaptive Immunity LAB, IBCh RAS.
                Please contact regarding any issues with post-analysis of RepSeq data using VDJtools/VDJviz. Mailto: <a href="mailto:mikhail.shugay@@gмаil.сом">mikhail.shugay@@gмаil.сом</a>
                </div>
            </div>
            <hr>
            <div class="person-place">
                <div class="person-img"><img src="@routes.Assets.at("images/DmitryBagaev.jpg")" /></div>
                <div class="person-name">Bagaev Dmitry</div>
                <hr class="delimiter">
                <div class="person-description">
                VDJviz web design and implementation.
                </div>
            </div>
            <hr>
            <div class="person-place">
                <div class="person-img"><img src="@routes.Assets.at("images/MiLibLogo.png")" /></div>
                <div class="person-name">MiLaboratory team</div>
                <hr class="delimiter">
                <div class="person-description">
                    Developing state-of-art solutions for immune repertoire sequencing and analysis.
                    URL: <a href="http://www.milaboratory.com"> milaboratory.com</a>
                </div>
            </div>
        </div>
    </div>
}