
<!DOCTYPE html>

<html>
    <head>
        <title>Error</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>window.location.replace("/")</script>
        <link href="@routes.Assets.at("stylesheets/noscriptpage.css")" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            <div class="header">
                <div class="textplace">
                    Bad browser
                </div>
            </div>
            <div class="descriptionplace">
                bla bla placeholder
            </div>
        </div>
    </body>
</html>
