@(path: String)
<!DOCTYPE html>

<html>
    <head>
        <title>Not found</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("images/favicon.ico")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/FontAwesome/css/font-awesome.min.css")" >
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/theme/styleo.css")">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="single-window jumbotron text-center">
                        <h1>404</h1>
                        <h2>Sorry, but this page doesn't exist!</h2>
                        <br> <a href="/" class="btn btn-info sharp btn-lg"><i class="fa fa-fw fa-home"></i> Home</a> </div>
                </div>
            </div>
        </div>
    </body>
</html>
