@(account: Account)
@navbar(account.userName)
@main("Account") {
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                @views.html.account.filePanel(account)
            </div>

            <div class="span10">
                <script>
                BasicStatsTable('@routes.Computation.returnBasicStats()');
                </script>
                <div class="hero-unit">
                    <div class="visualisation" style="top:50px; position: relative; width:100%"></div>
                </div>
            </div>
        </div>
    </div>
}