@(account: Account, fileName: String)
@navbar(account.userName)
@main("Computation") {
    <script type="text/javascript">
    var socket = new WebSocket("ws://" + location.host + "@routes.Computation.computationProgressBar(fileName)");
    socket.onmessage = function(event) {
        $ ( ".progressMessage" ).html(event.data);
        if (event.data != "ComputationDone" && event.data != "ComputationError") {
            $ ( ".progress-bar" ).css ( "width", event.data ) ;
        } else {
            setTimeout(function() {window.location.replace("@routes.AccountPage.index()");}, 300);
        }
    }
    </script>
    <div class="container-fluid">
    <div class="row-fluid">
        <h3>Computation in progress</h3>
        <div class="progressMessage">

        </div>
    </div>
    <div class="row-fluid">
    <div class="computationProgress">
        <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 0%"></div>
        </div>
    </div>
    </div>
    </div>

}