@(account: Account, file: UserFile)
@navbar(account.userName)
@main("Account") {
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                @views.html.account.filePanel(account)
            </div>
            @if(file != null && file.rendered) {
            <div class="span10">
                <div class="btn-group btn-group-justified">
                    <a href="#vdjusage" class="btn btn-default" onclick="VJUsage('@routes.API.returnVdjUsageData(file.fileName)')">V-J Usage</a>
                    <a href="#spectrotype" class="btn btn-default" onclick="HistogramData('@routes.API.returnSpectrotypeHistogram(file.fileName)')">Spectrotype</a>
                    <a href="#spectrotypeV" class="btn btn-default" onclick="HistogramVData('@routes.API.returnSpectrotypeVHistogram(file.fileName)')">SpectrotypeV</a>
                    <a href="#annotation" class="btn btn-default" onclick="AnnotationTable('@routes.API.returnAnnotationData(file.fileName)')">Annotations</a>
                </div>

                <div class="hero-unit">
                    <div class="visualisation" style="top:50px; position: relative; width:100%"></div>
                </div>
            </div>
            } else {
                <div class="span10">
                You should render your file
                </div>
            }
    </div>
    </div>
}