@(account: Account, file: UserFile)
@navbar(account.userName)
@main("Account") {
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                @views.html.account.filePanel(account)
            </div>

            <div class="span10">
                <div class="btn-group btn-group-justified">
                    <a href="#vdjusage" class="btn btn-default" onclick="VJUsage('@routes.Computation.returnVdjUsageData(file.fileName)')">V-J Usage</a>
                    <a href="#spectrotype" class="btn btn-default" onclick="HistogramData('@routes.Computation.returnSpectrotypeHistogram(file.fileName)')">Spectrotype</a>
                    <a href="#annotation" class="btn btn-default" onclick="AnnotationTable('@routes.Computation.returnAnnotationData(file.fileName)')">Annotations</a>
                </div>

                <div class="hero-unit">
                    <div class="visualisation" style="top:50px; position: relative; width:100%"></div>
            </div>
        </div>
    </div>
    </div>
}