@(userName: String)
@main("Account") {
    <account-page ng-app="accountPage">
        <block-page></block-page>

        @views.html.account.notifications()

        @views.html.account.filesSidebar()

        @views.html.account.fileUpload()

        <div id="account_wrapper" >

            @views.html.account.visualisation.sampleContent()

            @views.html.account.accountInformation()

            @views.html.account.visualisation.rarefactionContent()

            @views.html.account.visualisation.summaryContent()

            @views.html.account.visualisation.comparingContent()

            @views.html.account.visualisation.sampleCollectionAnalysing()

            @views.html.account.visualisation.multipleSampleSearchClonotypes()

        </div>

    </account-page>
}
