@(userName: String)
@main("Account") {
    <account-page ng-app="accountPage">
        <notifications ng-show="isNotificationsExist()">
            <div id="notifications_wrapper">
                <div class="notification" ng-repeat="notification in notifications" ng-class="{'error':isNotificationError(notification), 'info':isNotificationInfo(notification), 'success':isNotificationSuccess(notification)}">
                    <div class="close_notification" ng-click="deleteNotification(notification)">
                        <i class="fa fa-times"></i>
                    </div>
                    <div class="notification_header">
                        <p>{{ notification.header }}</p>
                    </div>
                    <div class="notification_body">
                        <p>{{ notification.body }}</p>
                    </div>
                </div>
            </div>
        </notifications>
        <block-page></block-page>
        <files-sidebar>
            @views.html.account.filesSidebar()
        </files-sidebar>
        <file-upload>
        @views.html.account.fileUpload()
        </file-upload>
        <div id="account_wrapper" >
            <main-visualisation-content>
                @views.html.account.mainVisualisationContent()
            </main-visualisation-content>
            <account-information>
                @views.html.account.accountInformation()
            </account-information>
            <rarefaction-content>
                @views.html.account.rarefactionContent()
            </rarefaction-content>
            <summary-content>
                @views.html.account.summaryContent()
            </summary-content>
            <comparing-content>
                @views.html.account.comparingContent()
            </comparing-content>
            <sample-collection>
                @views.html.account.sampleCollectionAnalysing()
            </sample-collection>
        </div>

    </account-page>
}
