@(accountInformation: models.Account.AccountInformation)
@import utils.server.Configuration
<account-information>
    <div class="row" ng-show="isAccountInformation()">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-info separated">
                <div class="panel-heading">
                Browser
                </div>
                <div class="panel-body">
                    <p>Click <b>Upload new samples</b> button to import files for the analysis. Once uploaded, files will appear at the sidebar.</p>
                    <p>You can then click on each file to browse clonotypes, spectratype and Variable/Joining segment usage.</p>
                    <p><b>NOTE:</b>
                        Currently there is
                        @if(accountInformation.filesInformation.maxFilesCount > 0){an upload limit of @accountInformation.filesInformation.maxFilesCount files}else{no any upload limits for files}
                        @if(accountInformation.filesInformation.maxClonotypesCount > 0){with at most @accountInformation.filesInformation.maxClonotypesCount clonotypes}
                        @if(!accountInformation.privelegies && Configuration.getDeleteAfter > 0){,also your files will be deleted from the server after @Configuration.getDeleteAfter hours.}else{.}</p>
                </div>
            </div>
        </div>
    </div>
</account-information>