@(account: Account)
@navbar(account.userName)
@main("Account") {
    <script src="@routes.Assets.at("../../../public/javascripts/d3/d3.min.js")"></script>
    <script src="@routes.Assets.at("../../../public/javascripts/render.js")"></script>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                @filePanel(account)
            </div>

            <div class="span10">
                <div class="hero-unit">
                    Account information
                    <table class="table table-responsive">
                        <tr>
                            <td>Your email: </td>
                            <td>@account.userName<td>
                        </tr>
                        <tr>
                            <td>Fisrt Name: </td>
                            <td>@account.user.firstName</td>
                        </tr>
                        <tr>
                            <td>Last Name: </td>
                            <td>@account.user.lastName</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
}
