<div class="container-fluid" >
    <div class="row">

        <div class="col-sm-2 col-md-2 col-lg-2 sidebar user-files-list">
            <files-sidebar></files-sidebar>
        </div>

        <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2 main">
            <div class="main-content">
                <main-visualisation-content></main-visualisation-content>
                <account-information></account-information>
                <diversity-content></diversity-content>
                <summary-content></summary-content>
            </div>
        </div>
    </div>
</div>