<div class="modal fade" id="new-files-table" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="choose-files-button btn btn-primary" ng-click="addNewButton()">Add</div>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">
                                Close</span></button>
            </div>
            <div class="modal-body fade well" id="new-files-dropzone">
                <div ng-hide="isNewFilesEmpty()">
                    <p>You can drag and drop your files here</p>
                    <p>Supported extensions: txt, gz</p>
                    <br>
                    <i class="fa fa-4x fa-file-text-o drag-and-drop-icon"></i>
                </div>
                <table class="table modal-file-table" ng-show="isNewFilesEmpty()">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Software Type</th>
                            <th>Progress</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="main-tbody-files">
                        <tr>
                            <td></td>
                            <td>
                                <select id="common-software-type" ng-model="commonSoftwareType" ng-click="changeCommonSoftwareType()">
                                    <option value="mitcr" >MiTcr</option>
                                    <option value="migec" >MiGec</option>
                                    <option value="simple" >Simple</option>
                                    <option value="igblast" >IgBlast</option>
                                </select>
                            </td>
                            <td></td>
                            <td>
                                <div class="upload-all-button btn btn-default" ng-click="uploadAll()" ng-show="isNewFilesEmpty()">Upload All</div>
                            </td>
                        </tr>
                        <tr ng-repeat="file in newFiles" ng-class="{'success':isSuccess(file), 'danger':isError(file)}">
                            <td class="name-td">
                                <input id="invalid-name-popover-{{ file.uid }}"
                                    ng-model="file.fileName"
                                    type="text"
                                    value="file.fileName"
                                    ng-show="file.wait"
                                    ng-class="{'invalid-name-input':!isNameValid(file)}"
                                    data-toggle="popover"
                                    data-html="true"
                                    data-placement="left"
                                    data-container="body"
                                    data-content="File name can contain 'a-z' letters, numbers, and   .  (dot),  -  (dash),  _  (underline) symbols. <br> Maximum name length: 40  "/>
                                <text ng-hide="file.wait">{{ file.fileName }}</text>
                            </td>
                            <td class="select-td">
                                <select id="new-file-software-type" ng-model="file.softwareTypeName" ng-show="file.wait">
                                    <option value="mitcr" selected>MiTcr</option>
                                    <option value="migec" >MiGec</option>
                                    <option value="simple" >Simple</option>
                                    <option value="igblast" >IgBlast</option>
                                </select>
                                <text ng-hide="file.wait">{{ file.softwareTypeName }}</text>
                            </td>
                            <td class="progress-td">
                                <div class="progress progress-striped active" ng-show="isOk(file)">
                                    <div class="progress-bar" ng-class="{'progress-bar-success':isSuccess(file)}" style="width : {{ file.progress }}% ;">

                                                </div>
                                </div>
                                <div class="computation-result-message" ng-hide="isOk(file)">
                                                {{ file.resultTooltip }}
                                </div>
                            </td>
                            <td class="button-td">
                                <button ng-show="file.wait && isNameValid(file)" class="btn btn-default" ng-click="uploadFile(file)">
                                                Upload
                                </button>
                                <button ng-show="file.wait" class="btn btn-default" ng-click="deleteFromQuery(file)">&times;</button>
                                <div class="upload-tooltip" ng-show="isOk(file)">
                                                {{ file.tooltip }}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="uploadedFiles.length">
                    <h2>Recently uploaded</h2>
                    <hr>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Software Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="file in uploadedFiles">
                                <td>{{ file.fileName }}</td>
                                <td>{{ file.softwareTypeName }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="upload-files-footer">
                <button type="button" class="btn btn-default footer-close-button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<form id="fileupload" method="POST" action="" enctype="multipart/form-data" style="visibility : hidden">
    <input type="file" name="files[]" multiple />
</form>