
    <ul class="nav nav-sidebar">
        <li class="active" ng-click="showNewFilesTable()">
            <a>Your Files<i class="fa fa-plus add-new-files-button pull-right"></i></a>
        </li>
    </ul>
    <ul class="nav nav-sidebar" ng-hide="isFilesEmpty()">
        <li>
            <a>You have no files</a>
        </li>
    </ul>
    <ul class="nav nav-sidebar" ng-show="isFilesEmpty()">
        <li id="sidebar_file_{{ file.uid }}" ng-repeat="file in files" ng-class="{'active':isActiveFile(file), 'disabled':isRendering(file)}" ng-click="setActiveFile(file)" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
            <a>
                {{ file.fileName }} <text ng-show="isRendering(file)">| Rendering</text>
                <i class="fa fa-trash pull-right" ng-class="{'hidden':!hover}" ng-click="$event.stopPropagation(); deleteFile(file)" ng-hide="isRendering(file)"></i>
            </a>
        </li>
        <hr>
        <li ng-class="{'active':isRarefactionState()}" ng-click="setRarefactionState()"><a>Rarefaction<i class="fa fa-area-chart pull-right"></i></a></li>
        <li ng-class="{'active':isSummaryState()}" ng-click="setSummaryState()"><a>Summary<i class="fa fa-list pull-right"></i></a></li>
        <li ng-class="{'active':isCompareState()}" ng-click="setCompareState()"><a>Compare<i class="fa fa-plus add-new-compare-button pull-right" ng-class="{'show-compare-button':isCompareState()}" ng-click="showCompareModal()"></i></a></li>
        <hr>
        <li ng-click="deleteAll()"><a>Delete All</a></li>
    </ul>
    <a href="#new-files-table" role="button" class="btn" data-toggle="modal" id="add-new-file"></a>
