@(title: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <noscript>
            <meta http-equiv="refresh" content="0;url=/badbrowser">
        </noscript>
        <script>
        if (navigator.userAgent.search(/MSIE/) > 0) {
            window.location.replace("/badbrowser")
        }
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("images/favicon.ico")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/theme/styleo.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/nv.d3/nv.d3.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/FontAwesome/css/font-awesome.min.css")" >
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bxslider/jquery.bxslider.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/angular/plugins/ui-select/select.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/angular/plugins/colorpicker/colorpicker.min.css")">
        <script src="@routes.Assets.at("javascripts/jquery-2.1.1.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/bxslider/jquery.bxslider.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/slimScroll/jquery.slimscroll.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/d3/d3.min.js")"></script>
        <script src="@routes.Assets.at("lib/nv.d3/nv.d3.js")"></script>
        <script src="@routes.Assets.at("lib/fileUpload/jquery.ui.widget.js")"></script>
        <script src="@routes.Assets.at("lib/fileUpload/jquery.fileupload.js")"></script>
        <script src="@routes.Assets.at("lib/fileUpload/jquery.iframe-transport.js")"></script>
        <script src="@routes.Assets.at("lib/svgtopng/svgtopng.js")"></script>
        <script src="@routes.Assets.at("lib/angular/angular.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/angular/plugins/nvd3/angular-nvd3.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/angular/plugins/ws/angular-websocket.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/angular/plugins/bootstrap/ui-bootstrap-tpls-0.12.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/zeroclipboard/ZeroClipboard.min.js")"></script>
        <script src="@routes.Assets.at("lib/zeroclipboard/ng-clip.min.js")"></script>
        <script src="@routes.Assets.at("lib/angular/plugins/colorpicker/bootstrap-colorpicker-module.min.js")"></script>
    </head>
    <body>
    @content

    </body>
</html>
