<div class="visualisation-tab" ng-show="showTab()">
    <ul class="nav nav-pills nav-visualisation">
        <li ng-repeat="tab in visualisationTabs" ng-click="setActiveTab(tab)" ng-class="{'active':isActiveTab(tab)}">
            <a>{{ tab.tabName }}</a>
        </li>
    </ul>
    <div class="col-lg-12" ng-repeat="file in files">
        <div id="id{{ file.uid }}" ng-show="showFile(file)" class="visualisation-results">
            <div ng-repeat="tab in visualisationTabs" ng-show="isActiveTab(tab)">
                <h3>{{ tab.tabName }}
                    <button ng-repeat="type in tab.exportType" class="btn btn-default pull-right" ng-click="exportChartPng(file, tab, type)" ng-show="tab.exportPng">Export to {{ type }}</button>
                </h3>
                <hr>
                <div class="viusalisation-results {{ tab.mainPlace }}"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="visualisation-description-vjusage" ng-show="isActiveTab(visualisationTabs.vjusage)">
            <h2>Description</h2>
            <hr>
            <p>This plot shows a chord diagram of Variable-Joining segment combination frequencies.</p>
            <p>Each chord represent a set of clonotypes with a given V-J junction and is scaled according to the frequency of reads with such junction.</p>
            <p>Each arc represents a V or J segment and is scaled to the relative number of reads that contain corresponding segment.</p>
            <h2>Interactivity</h2>
            <hr>
            <p>Hover any sector for detailed intersect information</p>
        </div>
        <div class="visualisation-description-spectratype" ng-show="isActiveTab(visualisationTabs.spectratype)">
            <h2>Description</h2>
            <hr>
            <p>This histogram shows the distribution of reads by CDR3 length.</p>
            <p>Several top clonotypes are shown explicitly by colored bars.</p>
            <h2>Interactivity</h2>
            <hr>
            <p><b>Click</b> on the clonotype name to show/hide it on histogram</p>
            <p><b>Double click</b> on the clonotype name to hide other clonotypes</p>

        </div>
        <div class="visualisation-description-spectratypeV" ng-show="isActiveTab(visualisationTabs.spectratypev)">
            <h2>Description</h2>
            <hr>
            <p>This plot shows the distribution of reads by CDR3 length.</p>
            <p>Separate histograms are shown that correspond to top Variable segment families.</p>
            <h2>Interactivity</h2>
            <hr>
            <p><b>Click</b> on the V-Gene to show/hide it on histogram</p>
            <p><b>Double click</b> on the V-Gene name to hide other V-Genes</p>
            <p>Equal V-Genes have one color on the all histograms</p>
        </div>
        <div class="visualisation-description-quantileStats" ng-show="isActiveTab(visualisationTabs.quantilestats)">
            <h2>Description</h2>
            <hr>
            <p>A sunburst plot showing the the clonality of sample.</p>
            <p>Inner level shows the read frequency of <b>singletons</b> (clonotypes met once), <b>doubletons</b> (clonotypes met twice) and <b>high-order</b> clonotypes.</p>
            <p><b>Singletons</b> and <b>doubletons</b> are the basis for estimating the number of unseen species (clonotypes) for the sample.</p>
            <p>The second level shows <b>high order</b> clonotypes are divided into 5 quantiles based on clonotype rank.</p>
            <h2>Interactivity</h2>
            <hr>
            <p><b>Click</b> on the <b>high-order</b> sector for detailed information</p>
            <p><b>Click</b> on the center of graph will hide detailed information</p>
        </div>
        <div class="visualisation-description-annotation" ng-show="isActiveTab(visualisationTabs.annotation)">
            <h2>Description</h2>
            <hr>
            <p>This table displays top 1000 most abundant clonotypes in the selected sample.</p>
            <p>Nucleotide and amino acid sequences of CDR3 region are marked for Variable, Diversity and Joining segments with green, orange and blue respecively.</p>
            <h2>Interactivity</h2>
            <hr>
            <p>Export your data to all common document formats</p>
            <p><b>Click</b> on the header of column for sorting data by this column</p>
        </div>
    </div>
    <hr>
</div>