<div class="visualisation-tab" ng-show="showTab()">
    <ul class="nav nav-pills nav-visualisation">
        <li ng-repeat="tab in visualisationTabs" ng-click="setActiveTab(tab)" ng-class="{active:isActiveTab(tab)}">
            <a>{{ tab.tabName }}</a>
        </li>
    </ul>
    <div class="col-lg-12" ng-repeat="file in files">
        <div id="id{{ file.uid }}" ng-show="showFile(file)" class="visualisation-results">
            <div ng-repeat="tab in visualisationTabs" ng-show="isActiveTab(tab)">
                <h3>{{ tab.tabName }}
                    <button ng-repeat="type in tab.exportType" class="btn btn-default pull-right" ng-click="exportChartPng(file, tab, type)" ng-show="tab.exportPng">Export to {{ type }}</button>
                </h3>
                <hr>
                <div class="viusalisation-results {{ tab.mainPlace }}"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="visualisation-description-vjusage" ng-show="isActiveTab(visualisationTabs.vjusage)">
            This plot shows a chord diagram of Variable-Joining segment combination frequencies.
            Each chord represent a set of clonotypes with a given V-J junction and is scaled according to the frequency of reads with such junction.
            Each arc represents a V or J segment and is scaled to the relative number of reads that contain corresponding segment.
        </div>
        <div class="visualisation-description-spectratype" ng-show="isActiveTab(visualisationTabs.spectratype)">
            This histogram shows the distribution of reads by CDR3 length.
            Several top clonotypes are shown explicitly by colored bars.
        </div>
        <div class="visualisation-description-spectratypeV" ng-show="isActiveTab(visualisationTabs.spectratypev)">
            This plot shows the distribution of reads by CDR3 length.
            Separate histograms are shown that correspond to top Variable segment families.
        </div>
        <div class="visualisation-description-quantileStats" ng-show="isActiveTab(visualisationTabs.quantilestats)">
            A sunburst plot showing the the clonality of sample.
            Inner level shows the read frequency of singletons (clonotypes met once), doubletons (clonotypes met twice) and high-order clonotypes.
            Singletons and doubletons are the basis for estimating the number of unseen species (clonotypes) for the sample.
            The second level shows high order clonotypes are divided into 5 quantiles based on clonotype rank.
        </div>
        <div class="visualisation-description-annotation" ng-show="isActiveTab(visualisationTabs.annotation)">
            This table shows the results of querying clonotypes against a pre-built database containing clonotypes of known specificity.
            Amino acid sequences are marked for Variable, Diversity and Joining segments with green, orange and blue respecively.
            Amino acid substitutions are marked with bold and underscore. Non-matching Variable and Joining segment names are shown in red.
            A fuzzy search is performed by CDR3 amino acid sequences. 
            The pre-built database contains clonotype specificity information obtained from literature mining and includes CMV-, EBV- and influenza-specific clonotypes.
        </div>
    </div>
    <hr>
</div>