<div class="visualisation-tab" ng-show="showTab()">
    <ul class="nav nav-pills nav-visualisation">
        <li ng-repeat="tab in visualisationTabs" ng-click="setActiveTab(tab)" ng-class="{active:isActiveTab(tab)}">
            <a>{{ tab.tabName }}</a>
        </li>
    </ul>
    <div class="col-lg-12" ng-repeat="file in files">
        <div id="id{{ file.uid }}" ng-show="showFile(file)" class="visualisation-results">
            <div ng-repeat="tab in visualisationTabs" ng-show="isActiveTab(tab)">
                <h3>{{ tab.tabName }}
                    <button class="btn btn-default pull-right" ng-click="exportChartPng(file, tab)" ng-show="tab.exportPng">Export to PNG</button>
                </h3>
                <hr>
                <div class="viusalisation-results {{ tab.mainPlace }}"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="visualisation-description-vjusage" ng-show="isActiveTab(visualisationTabs.vjusage)">
            A circos-styled plot visualizing frequencies of Variable-Joining segment combinations
        </div>
        <div class="visualisation-description-spectratype" ng-show="isActiveTab(visualisationTabs.spectratype)">
            Plots spectratype providing detalization for the most expanded clonotypes
        </div>
        <div class="visualisation-description-spectratypeV" ng-show="isActiveTab(visualisationTabs.spectratypev)">
            Plots spectratype providing detalization for the most common Variable segment families
        </div>
        <div class="visualisation-description-sizeClassifying" ng-show="isActiveTab(visualisationTabs.sizeclassifying)">
            Size classifying description placeholder
        </div>
        <div class="visualisation-description-quantileStats" ng-show="isActiveTab(visualisationTabs.quantilestats)">
            Displays the clonality of sample. The sample is divided into 5 quantiles based on clonotype rank.
            The relative size of each quantile is shown.
        </div>
        <div class="visualisation-description-annotation" ng-show="isActiveTab(visualisationTabs.annotation)">
            Queries clonotypes against a pre-built databases, containing clonotype signatures of known specificity.
            A fuzzy search is performed by CDR3 amino acid sequences.
            Pre-built database contains clonotype specificity information obtained from literature mining and includes CMV-, EBV- and influenza-specific clonotypes.
        </div>
    </div>
    <hr>
</div>