<div class="row rarefaction-tab" ng-show="isRarefactionInformation()">
    <div class="col-lg-12">
        <div class="panel panel-info separated">
            <div class="panel-body">
                <div>
                    <p>This interactive plot shows rarefaction curves for all currently uploaded samples, i.e. sample diversity (number of unique clonotypes) that is observed under a given sampling depth (number of reads).</p>
                    <p><b>Interpolation</b> (solid line) and <b>extrapolation</b> (dashed lines) are performed using multinomial model. All samples are extrapolated up to the size of largest sample.</p>
                    <p>Tool tip displays the observed sample diversity.</p>
                    <hr>
                    <button ng-repeat="type in rarefactionExportTypes" class="btn btn-default pull-right" ng-click="exportRarefaction(type)">Export to {{ type }}</button>
                    <button class="btn btn-default pull-right" ng-click="changeArea()">{{ area }} area</button>
                </div>
                <div class="rarefaction-visualisation-tab"></div>
            </div>
        </div>
    </div>
</div>