<div class="rarefaction-tab" ng-show="showRarefaction()">
    <h3>Rarefaction
        <button ng-repeat="type in rarefactionExportTypes" class="btn btn-default pull-right" ng-click="exportRarefaction(type)">Export to {{ type }}</button>
        <button class="btn btn-default pull-right" ng-click="changeArea()">{{ area }} area</button>
    </h3>
    <hr>
    <div class="rarefaction-visualisation-tab"></div>
    <div>
        <h2>Description</h2>
        <hr>
        <p>This interactive plot shows rarefaction curves for all samples, i.e. sample diversity (number of unique clonotypes) that is observed under a given sampling depth (number of reads).</p>
        <p><b>Interpolation</b> (solid line) and <b>extrapolation</b> (dashed lines) are performed using multinomial model. Extrapolation is performed up to the size of largest sample.</p>
        <p>Tool tip displays the observed sample diversity.</p>
    </div>
</div>