<div class="rarefaction-tab" ng-show="showRarefaction()">
    <h3>Rarefaction
    <button ng-repeat="type in rarefactionExportTypes" class="btn btn-default pull-right" ng-click="exportRarefaction(type)">Export to {{ type }}</button>
    </h3>
    <hr>
    <div class="rarefaction-visualisation-tab"></div>
    <div>
        Computes a comprehensive set of diversity statistics for samples of interest,
        including species richness estimates (Chao and Efron). The analysis also generates provides rarefactions plots.
    </div>
</div>