@(user: User)
@import views.html.defaultpages.todo
@import helper._
@import helper.twitterBootstrap._
@navbar(user)
@main("User File Form") {
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="@routes.Assets.at("javascripts/render.js")"></script>


    <h1>@user.login_name account</h1>
    @if(user.userfiles != null) {
        <div class="row">
        <div class="span4">
        <table class="table table-striped">
            @for(item <- user.userfiles) {
                <tr>
                    <td>@item.test_string</td>
                    <td><a class="btn btn-info" onclick="getJson('@routes.UserFiles.vdjtoolUsageMatrix(user, item)')">Render</a></td>
                    <td><a class="btn btn-info" onclick="getJson('@routes.UserFiles.vdjtoolUsageMatrix(user, item, false)')">Render without opt</a></td>
                    <td><a class="btn btn-default" href="@routes.UserFiles.delete(item.id, user)">Delete</td>
                </tr>
            }
            <tr class="reload-notifier">Reload page before new rendering</tr>
        </table>
        <a class="btn btn-info" href="@routes.UserFiles.add(user)">Add file</a>
    }
    </div>
    <div class="span8">
    <table class="table">
        <tr>
            <td>
                <vis-body>
                </vis-body>
            </td>
        </tr>
    </table>
    </div>

}