@(account: Account)
@navbar(account.userName)
@main("Account") {
    <script src="@routes.Assets.at("javascripts/d3/d3.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/render.js")"></script>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Your Files</h3>
                    </div>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    @if(account.userfiles != null && account.userfiles.size() == 0) {
                        <li><a>You have no files</a></li>
                    }
                    @if(account.userfiles != null) {
                        @for(item <- account.userfiles) {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="@routes.AccountPage.fileInformation(item.fileName)">
                                @item.fileName
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@routes.AccountPage.fileInformation(item.fileName)">Information</a></li>
                                    <li><a href="@routes.AccountPage.renderFileAgain(item.fileName)">Rerender</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@routes.AccountPage.deleteFile(item.fileName)">Delete</a></li>
                                </ul>
                            </li>
                        }
                    }
                    <hr>
                    <li><a href="@routes.AccountPage.newFile()">Add</a></li>
                </ul>
            </div>

            <div class="span10">
                <div class="hero-unit">
                    Account information
                    <table class="table table-responsive">
                        <tr>
                            <td>Your email: </td>
                            <td>@account.userName<td>
                        </tr>
                        <tr>
                            <td>Fisrt Name: </td>
                            <td>@account.user.firstName</td>
                        </tr>
                        <tr>
                            <td>Last Name: </td>
                            <td>@account.user.lastName</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
}
