@(account: Account)
@navbar(account.userName)
@main("Account") {
    <script src="@routes.Assets.at("javascripts/d3/d3.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/render.js")"></script>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a>Your Files</a></li>
                    @for(item <- account.userfiles) {
                        <li><a href="@routes.AccountPage.fileInformation(item)">@item.fileName</a></li>
                    }
                    <li><a href="@routes.AccountPage.newFile()">Add</a></li>
                </ul>
            </div>

            <div class="span10">
                <div class="hero-unit">
                    Account information
                    <table class="table table-responsive">
                        <tr>
                            <td>Your email: </td>
                            <td>@account.userName<td>
                        </tr>
                        <tr>
                            <td>Fisrt Name: </td>
                            <td>@account.user.firstName</td>
                        </tr>
                        <tr>
                            <td>Last Name: </td>
                            <td>@account.user.lastName</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
}
