@(fileForm: Form[UserFile], account: Account)
@navbar(account.userName)
@main("Add new file") {
    <h1>User File Form</h1>
    @helper.form(action = routes.AccountPage.saveNewFile(),
        'enctype -> "multipart/form-data") {
        <fieldset>
            <legend>File</legend>
            @helper.inputText(fileForm("fileName"), '_label -> "File Name")
            @helper.inputFile(fileForm("file"), '_label -> "File")
            @helper.select(fileForm("softwareTypeName"), options = Seq("MiTcr" -> "MiTcr", "MiGec" -> "MiGec", "Simple" -> "Simple"), '_label -> "Type")
            configure your Upload Path in application.conf before using this feature
        </fieldset>
        <input type="submit" class="btn btn-primary" value="Save">
        <a class="btn" href="@routes.AccountPage.index()">Cancel</a>
    }
}