@(fileForm: Form[UserFile], user: User)
@import views.html.defaultpages.todo
@import helper._
@import helper.twitterBootstrap._
@main("User File Form") {
    <h1>User File Form</h1>
    @helper.form(action = routes.UserFiles.save(user),
    'enctype -> "multipart/form-data") {
        <fieldset>
            <legend>File</legend>
            @helper.inputText(fileForm("test_string"), '_label -> "Test String")
            @helper.inputFile(fileForm("file"), '_label -> "File")
        </fieldset>
        <input type="submit" class="btn btn-primary" value="Save">
        <a class="btn" href="@routes.Users.index()">Cancel</a>
    }
}