@(userForm: Form[User])
@import views.html.defaultpages.todo
@import helper._
@import helper.twitterBootstrap._
@main("User File Form") {
    @navbar(null)
    <div class="container-fluid">
    <h1>User File Form</h1>
    @helper.form(action = routes.Users.save()) {
        <fieldset>
            <legend>User (@userForm("user_name").valueOr("new"))</legend>
            @helper.inputText(userForm("login_name"), '_label -> "Login Name")
            login_name pattern [a-z]{8}
            @helper.inputText(userForm("user_name"), '_label -> "User Name")
            @helper.inputText(userForm("description"), '_label -> "description")
        </fieldset>
        <input type="hidden" value="@userForm("id").valueOr("")" name="id"/>
        <input type="submit" class="btn btn-primary" value="Save">
        <a class="btn" href="@routes.Users.list()">Cancel</a>
    </div>
    }
}