@(account: Account)
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Your Files</h3>
    </div>
</div>
<ul class="nav nav-pills nav-stacked">
    @if(account.userfiles.size() == 0) {
        <li><a>You have no files</a></li>
    }
    @if(account.userfiles.size() != 0) {
    @for(item <- account.userfiles) {
        <li class="dropdown" @if(!item.rendered) {style="background-color: #DCDCDC"}>
            <a class="dropdown-toggle disabled" data-toggle="dropdown" href="@routes.AccountPage.fileInformation(item.fileName)">
            @item.fileName @if(!item.rendered) {| File did not rendered}
            </a>
            <ul class="dropdown-menu">
                <li><a href="@routes.AccountPage.fileInformation(item.fileName)">Information</a></li>
                <li><a href="@routes.AccountPage.fileUpdatePage(item.fileName)">Update</a></li>
                <li><a href="@routes.AccountPage.renderFileAgain(item.fileName)">Rerender</a></li>
                <li class="divider"></li>
                <li><a href="@routes.AccountPage.deleteFile(item.fileName)">Delete</a></li>
            </ul>
        </li>
    }

<hr>
<li><a href="@routes.AccountPage.diversityPage()">Diversity</li>
<hr>
<li><a href="@routes.AccountPage.basicStats()">Summary</li>
    }
<hr>

<li><a href="@routes.AccountPage.newFile()">Add</a></li>
</ul>