@(account: Account, file: UserFile)
@navbar(account.userName)
@main("Account") {
    <script src="@routes.Assets.at("javascripts/d3/d3.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/render.js")"></script>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Your Files</h3>
                    </div>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    @if(account.userfiles.size() == 0) {
                        <li>You have no files</li>
                    }
                    @for(item <- account.userfiles) {
                        <li @if(file.id == item.id) {class="active"}>
                            <a href="@routes.AccountPage.fileInformation(item)">@item.fileName </a>
                        </li>
                    }
                    <hr>
                    <li><a href="@routes.AccountPage.newFile()">Add</a></li>
                </ul>
            </div>

            <div class="span10">
                <div class="btn-group btn-group-justified">
                    <a class="btn btn-default" onclick="renderTableData('@routes.Computation.returnVdjUsageData(file)')">Table</a>
                    <a class="btn btn-default" onclick="renderHistogramData('@routes.Computation.returnSpectrotypeHistogram(file)')">Histogram</a>
                    <a href="#" class="btn btn-default">Under Construction</a>
                    <a href="#" class="btn btn-default">Under Construction</a>
                </div>

                <div class="hero-unit">
                    <div class="panel">
                    <vis-body class="viz-body"></vis-body>
                </div>
            </div>
        </div>
    </div>
}
