@(username: String)

@main("Welcome to VDJvisualisation") {
    <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
    @navbar(username)
    <ul class="bxslider">
        <li><img src="@routes.Assets.at("images/1920x500.gif")" /></li>
        <li><img src="@routes.Assets.at("images/1920x500.gif")" /></li>
        <li><img src="@routes.Assets.at("images/1920x500.gif")" /></li>
    </ul>

        <div class="container container-width-fixed">
            <div class="row">
                <h1>Features</h1>
                <div class="col-lg-12"><hr></div>
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <h3>V-J Usage</h3>
                        <text>A circos-styled plot visualizing frequencies of Variable-Joining segment combinations</text>
                    </div>
                    <div class="col-lg-6">
                        <img src="@routes.Assets.at("images/features_1.jpeg")" class="feature-img">
                    </div>
                </div>
                <div class="col-lg-12"><hr></div>
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <img src="@routes.Assets.at("images/features_2.jpeg")" class="feature-img">
                    </div>
                    <div class="col-lg-6">
                        <h3>Spectratype</h3>
                        <text>Plots spectratype providing detalization for the most expanded clonotypes</text>
                    </div>
                </div>
                <div class="col-lg-12"><hr></div>
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <h3>V Spectratype</h3>
                        <text>Plots spectratype providing detalization for the most common Variable segment families</text>
                    </div>
                    <div class="col-lg-6">
                        <img src="@routes.Assets.at("images/features_3.jpeg")" class="feature-img">
                    </div>
                </div>
                <div class="col-lg-12"><hr></div>
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <img src="@routes.Assets.at("images/features_4.jpeg")" class="feature-img">
                    </div>
                    <div class="col-lg-6">
                        <h3>Quantile Stats</h3>
                        <text>Displays the clonality of sample. The sample is divided into 5 quantiles based on clonotype rank.
                            The relative size of each quantile is shown.</text>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div><h3>And more...</h3></div>
                </div>
            </div>
            <footer>
                <p>&copy; Company 2014</p>
            </footer>
        </div>
}
