@(username: String)

@main("VDJviz - home") {
    <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
    @navbar(username)

    <ul class="bxslider">
        <li>
            <img src="@routes.Assets.at("images/slider1.jpg")"/>
            <button class="bx-sign-in-button btn btn-primary">Start analysis</button>
        </li>
        <li><img src="@routes.Assets.at("images/1920x500.gif")" /></li>
        <li><img src="@routes.Assets.at("images/1920x500.gif")" /></li>
    </ul>

        <div class="container container-width-fixed">
            <div class="row">
                <h1>Features</h1>
                <div class="col-lg-12"><hr></div>
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <h3>V-J Usage</h3>
                        <text>Chord digram of Variable-Joining segment junction frequencies</text>
                    </div>
                    <div class="col-lg-6">
                        <img src="@routes.Assets.at("images/features_1.jpeg")" class="feature-img">
                    </div>
                </div>
                <div class="col-lg-12"><hr></div>
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <img src="@routes.Assets.at("images/features_2.jpeg")" class="feature-img">
                    </div>
                    <div class="col-lg-6">
                        <h3>Spectratype</h3>
                        <text>Distribution of reads by CDR3 length explicitly showing top clonotypes</text>
                    </div>
                </div>
                <div class="col-lg-12"><hr></div>
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <h3>V Spectratype</h3>
                        <text>A pectratype that explicitly shows the most common Variable segment families</text>
                    </div>
                    <div class="col-lg-6">
                        <img src="@routes.Assets.at("images/features_3.jpeg")" class="feature-img">
                    </div>
                </div>
                <div class="col-lg-12"><hr></div>
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <img src="@routes.Assets.at("images/features_4.jpeg")" class="feature-img">
                    </div>
                    <div class="col-lg-6">
                        <h3>Quantile Stats</h3>
                        <text>A detailed sample clonality chart</text>
                    </div>
                </div>
                <div class="col-lg-12"><hr></div>
                <div class="col-lg-12">
                    <div><h3>Sample comparison, annotation and more...</h3></div>
                </div>
            </div>
            <footer>
                <p>&copy; 2014 MiLaboratory.com</p>
            </footer>
        </div>
}
