@(loginForm: Form[Application.Login])
@import helper._
@import helper.twitterBootstrap._

@main("Please sign in to the warehouse application") {

    @helper.form(action = helper.CSRF(routes.Application.authenticate)) {
        <div class="container" style="width: 15%;">
            <form class="form-signin">
                <h2 class="form-signin-heading">Please sign in</h2>
                <input type="email" class="input-block-level" placeholder="Email address" name="email" value="@loginForm("email").value">
                <input type="password" class="input-block-level" placeholder="Password" name="password" value="@loginForm("password").value">
                <button class="btn btn-large btn-primary" type="submit">Sign in</button>
                <a class="btn btn-large btn-primary pull-right" href="@routes.Users.newUser()">Create new</a>
            </form>
        </div>
    }

}