@(title: String)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <noscript>
            <meta http-equiv="refresh" content="0;url=/badbrowser">
        </noscript>
        <script>
            function getBrowser(){
            var ua = navigator.userAgent;
            if (ua.search(/MSIE/) > 0) return 'badbrowser';
            if (ua.search(/iPhone/) > 0) return 'badbrowser';
            if (ua.search(/iPad/) > 0) return 'badbrowser';
                return 'ok';
            }

            var browser = getBrowser();

            if (browser == 'badbrowser') {
                window.location.replace("/badbrowser")
            }

        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/dataTable/extensions/TableTools/css/dataTables.tableTools.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/dataTable/media/css/jquery.dataTables.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/dataTable/media/css/jquery.dataTables_themeroller.css")" >
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/dashboard.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/carousel.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/nv.d3/nv.d3.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/FontAwesome/css/font-awesome.min.css")" >
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bxslider/jquery.bxslider.css")">
        <script src="@routes.Assets.at("javascripts/jquery-2.1.1.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/bxslider/jquery.bxslider.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/d3/d3.min.js")"></script>
        <script src="@routes.Assets.at("lib/dataTable/media/js/jquery.dataTables.min.js")"></script>
        <script src="@routes.Assets.at("lib/dataTable/media/js/dataTables.bootstrap.js")"></script>
        <script src="@routes.Assets.at("lib/dataTable/extensions/TableTools/js/dataTables.tableTools.min.js")"></script>
        <script src="@routes.Assets.at("lib/nv.d3/nv.d3.js")"></script>
        <script src="@routes.Assets.at("lib/fileUpload/jquery.ui.widget.js")"></script>
        <script src="@routes.Assets.at("lib/fileUpload/jquery.fileupload.js")"></script>
        <script src="@routes.Assets.at("lib/fileUpload/jquery.iframe-transport.js")"></script>
        <script src="@routes.Assets.at("lib/svgtopng/svgtopng.js")"></script>
    </head>
    <body>
            @content

    </body>
</html>
