@(username: String)
<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/account">Account</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            @if(username != null) {
                <li><a href="/account">Logged as @username</a></li>
                <li><a href="/logout">Logout</a></li>
            }
            @if(username == null) {
                <li><a href="/signin">Signin</a></li>
            }
        </ul>
    </div>
</div>