@(username: String)
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Vdjviz</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="#">Home</a></li>
                    @if(username != null) {
                        <li><a href="@routes.Application.redirectToAccount()">Account</a></li>
                    }
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <ul class="nav pull-right">
                        @if(username != null) {

                            <li><a href="@routes.Application.redirectToAccount()">Logged as @username</a></li>
                            <li><a href="@routes.Application.logout()">Logout</a></li>
                        }
                        @if(username == null) {
                            <li><a href="@routes.Application.login()">Signin</a></li>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>