@(user: User)
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Vdjviz</a>
            <div class="nav-collapse collapse">
                @if(user != null) {
                    <p class="navbar-text pull-right">
                        Logged in as @user.login_name  | <a href="@routes.Users.list()" class="navbar-link"> Logout</a>
                    </p>
                }
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>