@(userForm: Form[User], accountForm: Form[Account])
@import views.html.defaultpages.todo
@import helper._
@import helper.twitterBootstrap._
@main("User File Form") {
    @navbar(null)
    <div class="container" style="width: 15%;">
        <h2 class="form-signin-heading">User File Form</h2>
        @helper.form(action = helper.CSRF(routes.Users.saveNewUser())) {
            <fieldset>
                @helper.inputText(userForm("email"), '_label -> "Email")
                @helper.inputText(userForm("password"), '_label -> "Password")
                @helper.inputText(accountForm("user_name"), '_label -> "User Name")
            </fieldset>
            <input type="submit" class="btn btn-primary" value="Save">
            <a class="btn" href="@routes.Application.index()">Cancel</a>
        </div>
}
}