@(account: Account)
@navbar(account.user_name)
@main("User page") {
    <script src="@routes.Assets.at("javascripts/d3/d3.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/render.js")"></script>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        @for(item <- account.userfiles) {
                            <li class="nav-header">@item.file_name
                            <li onclick="renderTableData('@routes.Computation.vdjUsageData(account, item)')"><a href="#">Render</a></li>
                            <li onclick="renderHistogramData('@routes.Computation.spectrotypeHistogram(account, item)')"><a>Hist</a></li>
                            <li onclick="renderTableData('@routes.Computation.vdjUsageData(account, item, false)')"><a href="#">Render without optimization</a></li>
                            <li><a href="@routes.UserAccount.deleteFile(account, item)">Delete this file</a></li>
                            <hr>
                        }
                        <li style="cursor: pointer"><a href="@routes.UserAccount.newFile(account)">Add new File</a></li>
                    </ul>
                </div>
            </div>

            <div class="span10">
                <div class="hero-unit">
                    <vis-body class="viz-body"></vis-body>
                </div>

            </div>
        </div>
        <hr>
        <footer>
            <p>&copy; Company 2012</p>
        </footer>
    </div>
}